<h1>What is this?</h1>
<p>This is a Ruby on Rails app that is a work in progress as coursework for my Epicodus class. I'm enjoying the journey as I learn RoR while building this app. It's fun, and at times torturous. Right now I'm feeling the fun a bit more than the torture, but ask me again tomorrow and I may have a different answer!</p>
