<h1>Contact</h1>
<h3>I'll update this super boring "contact" page soon, I promise!</h3>

<p>In the meantime, here you go:</p>
<p>Jessi Iler</p>
<p>Vancouver, WA</p>
<p>Email: inertial.observer@gmail.com</p>
<p>Github: https://github.com/InertialObserver</p>

<h4>Just for fun:</h4>

<a href="#" onclick="this.style.backgroundColor='#990000'">Paint it red</a>
